<!DOCTYPE HTML>
<html>
	<head>
		<title>Error</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>

	<body class="about-us">
		<div id="page-wrapper">
			<section id="header">
				<div class="container">
					<h1 id="logo"><a>404 Not Found</a></h1>
					<p><a href="index.html">Click here to go back to Home Page</a></p>
				</div>
			</section>
		</div>
	</body>
</html>
